a {
	font-size: 2rem;
	line-height: 3.2rem;
	color: rgba(255, 255, 255, 0.65);
	transition: 0.5s ease;
}

a:hover {
	color: #fff;
	opacity: 1;
	cursor: pointer;
}

.nav-container {
	position: fixed;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	column-gap: 2rem;
	padding: 0.7rem;
	width: 100vw;
	height: 45px;
	background: #0f1c36;
	opacity: 0.98;
}

#span {
	font-size: 2rem;
}

.top-left {
	display: flex;
	flex-direction: row;
	justify-self: start;
	align-content: center;
	margin-left: 10px;
}

.top-right {
	display: flex;
	justify-content: space-evenly;
	justify-self: end;
	gap: 2em;
	text-align: center;
	margin-right: 10px;
}

.menu-icon {
	display: none;
}

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 718px) {
	.nav-links {
		padding: 0.5rem;
	}
	.nav-container {
		position: fixed;
	}
	.top-left {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}
	#span {
		color: #fff;
	}
	.top-right {
		position: absolute;
		display: flex;
		flex-direction: column;
		margin: 0;
		width: 100%;
		height: 8.1em;
		row-gap: 5px;
		top: -100%;
		opacity: 0;
		transition: all 0.4s ease 0.19s;
	}
	.top-right.active {
		background: #0f1c36;
		top: 4rem;
		opacity: 1;
		transition: all 0.5s ease;
		z-index: 0;
	}
	/* This needs a lower transition than .top-right */
	.top-right li {
		opacity: 0;
		transition: all 0.4s ease;
	}
	/* This needs a higher transition than .top-right.active */
	.top-right.active li {
		opacity: 1;
		transition: all 0.5s ease 0.2s;
	}
	.menu-icon {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(-100%, 50%);
		font-size: 1.8rem;
		cursor: pointer;
		z-index: 1;
		color: #fff;
	}
}
