.footer {
	position: relative;
	text-align: center;
	padding: 6rem 4rem 4rem;
}

.copyright {
	font-size: 2.4rem;
}

.arrow {
	position: absolute;
	margin: 4rem;
	font-size: 3.5rem;
	right: 0;
	bottom: 0;
	cursor: pointer;
}

@media (max-width: 640px) {
	.arrow {
		font-size: 3rem;
		right: -5%;
	}
}

@media (max-width: 400px) {
	.copyright {
		font-size: 1.8rem;
	}
}

@media (max-width: 320px) {
	.arrow {
		right: -10%;
	}
}
