@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
	background: #0f1c36;
	color: hsl(204, 23.8%, 95.9%);
	cursor: default;
}

a:hover,
a:visited,
a:link,
a:active {
	text-decoration: none;
}

li {
	list-style: none;
}
